<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
                    Before they sold out readymade gluten
                </h1>
                <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
            </div>
            <div class="col-md-6">
                <div class="about-img-container">
                    <img class="dotted-bck-img" src="/assets/images/dotted-primary.png" alt="dotted-brown-img">
                    <img class="about-img" alt="about-img" src="https://dummyimage.com/720x600/edf2f7/a5afbd">
                </div>
            </div>
        </div>
    </div>
</div>