<nav>
    <div class="menu-icon">
        <i-feather name="menu" (click)="onNavClick($event)" *ngIf="!mobileIsOpen; else closeNav"></i-feather>
        <ng-template #closeNav>
            <i-feather name="x" (click)="onNavClick($event)"></i-feather>
        </ng-template>
    </div>
    <div class="logo"><a (click)="onNavLinkClick($event, 'header')">Your Logo</a></div>
    <div class="menu">
        <ul [ngClass]="{ 'showing': mobileIsOpen }">
            <li><a (click)="onNavLinkClick($event, 'header')">Discover</a></li>
            <li><a (click)="onNavLinkClick($event, 'about')">About</a></li>
            <li><a (click)="onNavLinkClick($event, 'projects')">Projects</a></li>
            <li><a (click)="onNavLinkClick($event, 'contact')">Contact</a></li>
        </ul>
    </div>
</nav>