<div id="header" class="container">
  <div class="row">
    <div class="col-md-5 left">
      <h1>Make your next collaboration as easy as possible.</h1>
      <p>
        Work remotely with your team as easily as possible. Use premium remote
        features for the best work experience.
      </p>
      <button class="btn-header">View my work</button>
    </div>
    <div class="col-md-5 right">
      <app-macos-html-window></app-macos-html-window>
    </div>
  </div>
  <div class="row">
    <div class="scroll-down">
      <i-feather name="chevron-down" (click)="onScrollDown($event, 'about')"></i-feather>
    </div>
  </div>
  <div class="wave">
      <svg width="100%" fill="none">
          <path
              fill="#FF215E"
              d="
                  M 0 67 
                  C 273,183
                    822,-80
                    1920,146 

                  V 359 
                  H 0 
                  V 67 
                  Z"> 
          </path>
      </svg>
  </div>
</div>
