<div class="codebox-window">
  <div class="codebox-circle-red"></div>
  <div class="codebox-circle-orange"></div>
  <div class="codebox-circle-green"></div>
  
  <div class="clearfix"></div>
  
  <div class="codebox-window-content">
    <pre><code class="language-html">&lt;!doctype html&gt;
&lt;html lang=&quot;en&quot;&gt;
  &lt;head&gt;
    &lt;!-- Required meta tags --&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width&gt;
    &lt;title&gt;Hello, world!&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello, world!&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;
    </code></pre>
  </div>
</div>
